{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <title>Document</title>
  </head>

  <body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'request_booking' %}">Request an Appointment</a>
                </li>
                <li>
                    <a href="{% url 'list_bookings' %}">Requested Appointments</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact Us</a>
                </li>

                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock content %}
  </body>

</html>
