{% extends 'base.html' %}

{% block title %}
Requested Appointments
{% endblock title %}

{% block content %}
<body>
    <header>
    <nav>
        <p>
            <a href="{% url 'request_booking' %}">Make a Request</a>
        </p>
    </nav>
    </header>
    <main>
        <h1>Requested Appointments</h1>

            <table>

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Practitioner</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appt in booking %}
                    <tr>
                        <td>{{ appt.name }}</td>
                        <td>{{ appt.type }}</td>
                        <td>{{ appt.date }}</td>
                        <td>{{ appt.practitioner }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
    </main>
</body>

{% endblock content %}
