{% extends 'base.html' %}

{% block title %}
Contact Us
{% endblock title %}

{% block content %}
<div class="mx-auto my-4 text-center">
    <h1>Contact Us</h1>
</div>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button class="btn btn-success my-3" type="submit">Send message</button>
    </form>
</div>
{% endblock content %}
