{% extends 'base.html' %}

{% block title %}
Alpha Clinic
{% endblock title %}

{% block content %}
<body>
    <h1>Welcome to Alpha Clinic</h1>
    <main>
    <div class="home-layout">
        <img class="home-page" src="https://www.hdrinc.com/sites/default/files/2021-03/Christine-E-Lynn-Rehabilitation-Center-Jackson-Health-HDR_d2100-d675_0.jpg">
        <div ="booking-detail">
        <span style="font-size:2vw;">We are a rehabilitation clinic aiming to serve the community. We offer Physical Therapy, Speech Therapy and Occupational Therapy services.
        Feel free to contact us about our services, or request an appointment through our website.
        Please allow us 72 hours to process your request. We look forward to assisting you.</span>
        </div>
    </div>
    </main>
</body>


{% endblock content %}
