{% extends 'base.html' %}

{% block title %}
Request An Appointment
{% endblock title %}

{% block content %}
    <body>
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'list_bookings' %}">Requested Appointments</a>
        </nav>
        {% endif %}
        <main>
            <div class="request">
                <div class="item booking-form">
                    <h1>Request An Appointment</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" class="btn btn-primary">Request</button>
                </div>
            <img class="item" src="https://cdn.careeronestop.org/OccVids/OccupationVideos/29-1123.00.jpg">
            </div>
        </main>
    </body>

{% endblock content %}
