{% extends 'base.html' %}

{% block content %}
<div class="mx-auto my-4 text-center">
    <h1 class="fw-bolder text-success">We sent your message</h1>
    <p class="my-5">You can send another in the <a href="{% url 'contact' %}">contact page</a></p>
</div>
{% endblock content%}
