title {
    font-family: 'Optima', sans-serif;
}

h1 {
    padding: 15px 15px 15px 15px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Optima', sans-serif;
    font-size: 16px;
}

.home-page {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px lightblue;
 }

 main img {
    height: 350px;
    width: 700px;
 }

 .home-layout {
    grid-template-rows: 1fr 200 px;
    row-gap: 50px;
 }
.container {
    padding: 20px 20px 20px 20px
}
 span {
    font-size: 20px;
    padding: 30px;
    display: inline-block;
    width: 1200px;
 }

.request {
    padding: 16px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 400px;
    column-gap: 500px;
    grid-auto-flow: column;
}


header nav ul {
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1 em 0;
}

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
}

table {
    width: 100%;
}

.login-form,
.signup-form {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;

}

.login-form p,
.signup-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}


.login-form button,
.signup-form button,
.booking-form button {
    padding: 0.5em 1em
}

footer {
    padding: 24px 0px 24px 0px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

nav {
    background-color: rgb(159, 226, 212);
}

footer {
    background-color: rgb(34, 164, 158);
    padding: 50px;
    color: white
}

a {
    text-decoration: none;
    color: rgb(23, 54, 14);
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(208, 233, 238);
}

th {
    background-color: rgb(220, 231, 235);
}
